  :root {
    --user-photo: url('../item/user_photos/someone.jpeg');
  }

  .Header {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: #003563;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    vertical-align: baseline;
    align-items: center;
  }

  .Logo {
    padding-left: 40px;
    margin-right: auto;
  }

  .Logo img {
    width: 150px;
    height: 71px;
  }
  
  .header-login, .header-register {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }

  .header-login span:hover, .header-register span:hover {
    color: rgb(235, 156, 10);
    padding: 0;
  }

  .header-register {
    padding-right: 50px;
  }

  .header-user-profile, .header-logout {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 14px;
  }

  .header-user-profile span {
    font-size: 12px;
    margin: auto;
  }

  .header-logout {
    font-weight: bold;
  }

  .header-user-profile-pic {
    margin-left: 30px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: var(--user-photo);
    background-size: cover;
    background-position: center;
    margin: auto;
  } 

  .header-user-profile-pic:hover {
    border:2px solid rgb(235, 156, 10);
    padding: 0;
  }

  .header-logout span:hover {
    color: rgb(235, 156, 10);
    padding: 0;
  }