/* img {
  width: 125px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

p.small {
  line-height: 1.6;
  margin-top: 5px;
  margin-bottom: 5px;
}

.text-item {
  color: white;
}

.text-location {
  color: rgb(156, 156, 156);
}

.item_info {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a:link,
a:visited {
  border: 5px solid rgb(235, 156, 10);
  background-color: #0c0fb6;
  color: white;
  padding: 14px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
} */
