.itemListContainer {
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1em;
}

.itemContainerSmall {
  margin: auto;
  border: 1px solid;
  border-radius: 8px;

  height: 250px;
  width: 200px;
}

.itemImageSmall {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px;
  height: 160px;
  width: 160px;
}

.itemDescriptionSmall {
  padding-top: 8px;
  padding-left: 5px;
}

.itemNameSmall {
  font-size: 15px;
  font-weight: bold;
}

.itemPriceSmall {
  font-size: 13.5px;
}

.itemLocationSmall {
  font-size: 12px;
  color: gray;
}
